.welcome-signs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#home-card {
  margin-top: 2em;
  background-color: #302a4a;
  width: 40em;
  height: 15em;
  border-radius: 1em;
  color: white;
}
