form {
    border: white solid 0.2em;
    border-radius: 0.5em;
    background-color: white;
}

input {
    border: none !important;
    padding-left: 0.5em;
    background-color: white;
}

input:focus {
    border: none !important;
    outline: none !important;
}

button {
    border: none;
    padding: 0.1em;
    border-radius: 0.5em;
}

img {
    border-radius: 0.5em;
}


label {
    padding-left: 0.1em;
}