#inputBox {
    background-color: #302a4a;
    width: 40%;
    height: 15em;
    min-width: 23em;
    border-radius: 1em;
}

#row {
    justify-content: center;
    padding-top: 5em;
}

#inputField {
    padding-top: 5em;
}

h3 {
    color: lightgray;
}