.image {
  position: absolute;
  background-color: #292b2c;
  border: 0.1em solid gray;
  width: 4em;
  height: 4em;
  margin-left: 5em;
  z-index: 9;
}

.user-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 6em;
  height: 4em;
}

.user-card {
  float: left;
  grid-row: 2;
  padding: 0.2em;
  background-color: #312172 !important;
  border: 2px solid gray !important;
  border-radius: 2em !important;
  font-size: 0.9em;
  text-align: center;
  height: 2.2em;
  overflow: hidden;
}
