form {
  border: white 0.2em;
  border-radius: 0.5em;
}

input {
  border: none !important;
  padding-left: 0.5em;
}

input:focus {
  border: none !important;
  outline: none !important;
}

button {
  border: none;
  padding: 0.1em;
}

img {
  padding: 0.1em;
}

label {
  padding: 0.1em;
}

#form-container {
  margin: auto auto;
}
