#main {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.translate-card {
  align-items: center;
  margin: auto;
  margin-top: 1em;
  display: flex;
  padding: 0.2em;
  background-color: #302a4a !important;
  border-radius: 1em !important;
  font-size: 1.3em;
  width: 70%;
  min-height: 3em;
  min-width: 21em;
  box-shadow: 5px 5px 10px #302a4a;
}

.translation-title {
  font-size: 1.7em;
  color: lightgrey;
}

#translation-output-card {
  justify-content: left;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1.2em;
  min-height: 4em;
  width: 70%;
  border-radius: 1em !important;
  background-color: white;
}

.sign-image {
  width: 2em;
  height: 2em;
}
