/* TRANSLATION HISTORY CSS FILE */
.history-title {
  font-size: 1.7em;
  color: lightgray;
}

.history-card {
  align-items: center;
  margin: auto;
  margin-top: 1em;
  display: flex;
  padding: 0.2em;
  background-color: #302a4a !important;
  border-radius: 1em !important;
  font-size: 1.3em;
  width: 70%;
  min-height: 3em;
  min-width: 4em;
  box-shadow: 5px 5px 10px #302a4a;
}

.history-entry {
  font-size: 1.1em;
  margin: auto;
}

.history-entry-empty {
  font-size: 1.1em;
  color: gray;
}

#card-body {
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 4em;
  width: 70%;
  border-radius: 1em !important;
  background-color: white;
}
